#header-container {
    flex: 0 1 auto;
    width:100%; 
    overflow:auto; 
    background-color: #38003c;
    position: fixed;
    }

#header-text {
    margin: 5px 10px;
    color: #FFFFFF;
    font-size: 16px;
    text-align: right;
    float: right;
    }    

* {
    margin: 0; color:#38003c;
    font-family: 'Dosis', sans-serif;
    }

#filter-btn {
    float:left;
}

#filter-icon {
   width: 30px;
   margin-left: 5px; 
   float:left;
}

#filter-container {
    display:none;
    flex: 1 1 auto;
    float:left; 
    width:15%; 
    background-color: #EFEFEF;
    min-width: 275px;
    min-height: 1500px;
}

#maincontent {
    display:flex; 
    height:100%; 
    padding-top: 30px;   
}

#submit {
    width: 100%;
    border:none;
    background-color: #38003C;
    color: white;
    padding: 5px 2px;
    display: inline-block;
    font-size: 16px;
}

#content-div {
    float:right; 
    width:-moz-available; 
    width:-webkit-fill-available; 
    height:auto; 
    overflow:auto;
}

#table-container {
    overflow: auto;
}

.filter-header {
    margin:10px; 
    font-size: 14px; 
    font-weight:bold;
    margin-bottom: 0px;
}

.filter-border {
    border-bottom: 1px solid #A9A9A9;
    padding-bottom: 10px;
}

.filter-categories {
    display:none;
    margin-left: 10px;
}

.filter-name {
    margin:15px 10px 5px 15px; 
    font-size: 14px;
}

.filter-entry {
    display: none; 
    margin-left: 10px;
}

.info-class {
    margin-left: 15px; 
    margin-right: 5px;
}

.filter-label {
    font-size: 13px; 
    vertical-align: middle;
}


.stat-class {
    margin-left: 15px; 
    margin-right: 15px; 
    text-align: right; 
    width: 70px;
}

table {
	table-layout: auto;
	width: 100%;
		}

th {
	text-align: left;
	border-collapse: collapse;
	font-size: 14px;
	padding: 6px;
	color: #FFFFFF;
		}

td {
	text-align: left;
	border-collapse: collapse;
	font-size: 14px;
	padding: 6px;
	white-space:nowrap;}

tr:nth-child(odd) {
	background-color: #F3F3F3;
		}

tr:nth-child(even) {
	background-color: #F3F3F3;
		}
#header-row {
    background-color: #38003C;
}

.tablesorter-header-inner {
    color: #ffffff;
}

.loader,
.loader:before,
.loader:after {
  background: #38003c;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #38003c;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
