<!DOCTYPE HTML>
<html lang="en"><head>
	<title>Fantasy Premier League - Assistant</title>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="../static/css/fplassist.css">
	<script src="../static/scripts/jquery.min.js"></script>
	<script src="../static/scripts/jquery.form.js"></script> 
	<script type="text/javascript">
		function expand_filter(filtername){
             if(document.getElementById(filtername).style.display == "block"){
                 document.getElementById(filtername).style.display = "none";
             }
             else if(document.getElementById(filtername).style.display == "none"){
                 document.getElementById(filtername).style.display = "block";
             }
         }
		 
		 function logoover(){
			document.getElementById('logo').setAttribute("src", "../static/images/index_1.png");
		 }
		 function logoleave(){
			document.getElementById('logo').setAttribute("src", "../static/images/index.png");
		 }
		 
    	 function updateTable(){
        	 var updateTable_request = new XMLHttpRequest();
        	 var params = "cost="+document.getElementById('cost_slider').value.toString()+"&fixture_difficulty="+document.getElementById('fixture_diff_slider').value.toString();
        	 var parameters = {
                "cost": document.getElementById('cost_slider').value.toString(),
                "fixture_difficulty": document.getElementById('fixture_diff_slider').value.toString()
            };
            
        	 updateTable_request.onload = function(){ 
            	 window.alert(this.response);
            	 }        	 
        	 window.alert(JSON.stringify(parameters));
        	 updateTable_request.open("GET", "updateTable?"+params, true);
        	 updateTable_request.send(null);
        	     
    	 }

        $(document).ready(function() {
            $('#updateForm').on('submit', function (e) {
                e.preventDefault();
                
                $.ajax({
                    type: 'POST',
                    url: 'update_table/',
                    data: $("#updateForm").serialize(),
                    success: function (json) {
                        alert(json);
                    }
                }); 
                return false;               
            });
        });
    	 
        function getTableOnload() {
            teams = ['ars', 'bou', 'bha', 'bur', 'che', 'cry', 'eve', 'hud', 'lei', 'liv', 'mci', 'man', 'new', 'sou', 'sto', 'swa', 'tot', 'wat', 'wba', 'whu']
            teamCheckBox = document.getElementById("team_check");
            var d_div = document.createElement('div');
            d_div.id="team_div";
            d_div.style.display = "none";
            d_div.style.marginLeft = "10px";
            
            for(var team=0; team<teams.length; team++){
                var checkbox =document.createElement('input');
                checkbox.type = "checkbox";
                checkbox.name = "checks[]";
                checkbox.value = teams[team];
                checkbox.style.marginLeft = "15px";
                checkbox.style.marginRight = "2px";
                checkbox.style.verticalAlign = "middle";
                checkbox.checked = true;
                
                var labelTxt = document.createElement('label');
                labelTxt.innerHTML = teams[team];
                labelTxt.style.fontSize = "13px";
                labelTxt.style.verticalAlign = "middle";
                d_div.appendChild(checkbox);
                d_div.appendChild(labelTxt);
                d_div.appendChild(document.createElement('br'));
            }
            
            teamCheckBox.appendChild(d_div);
                   
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'genTable', false);
            xhr.onload = function(e) {
                player_data = JSON.parse(this.response);
                var player_table = document.getElementById('player_table');
                var table_len = player_table.rows.length - 1;
                
                for(count=0; count<player_data.length; count++){
                    player = player_data[count];
                    var row = player_table.insertRow(count+1);
                    for(cell_count=0; cell_count<player.length; cell_count++){
                        row.insertCell(cell_count).innerHTML = player[cell_count]
                    }
                }
                }
            xhr.send();
        	}
	
    	if (window.addEventListener)
    		window.addEventListener("load", getTableOnload, false);
    	else if (window.attachEvent)
    		window.attachEvent("onload", getTableOnload);
    	else window.onload = getTableOnload;
    </script>
</head>

<body>
<div class="myheader">
	<div style="width:100%; overflow:auto; background-color: #38003c;">
    	<div id="header" class="header_text">FPL Assist</div>
    </div>
	
	<div style="width:100%; position:absolute; height:auto; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 6px 0 rgba(0,0,0,0.12); ">
		<div style="float:left; width:15%; position:absolute; height:100%; background-color: #E4E6E5;">
			<br>
			<div>
			   <p style="margin-left:10px; font-size: 16px;">Adjust your search criteria: </p>
			</div>
			<br>
			<form id="updateForm">
    			{% csrf_token %}
            <div style="border-bottom: 1px solid #A9A9A9;">
                <p onclick="expand_filter('player_info');" style="margin:10px; font-size: 14px; font-weight:bold;">+ Player Info</p>
                <div id="player_info" style="display:none; margin-left: 10px;">
                    <div style="border-bottom: 1px solid #A9A9A9;">
            				<div onclick="expand_filter('pos_div');" id="pos_check" style="margin:15px 10px 5px 15px; font-size: 14px;">Position<br></div>
            				<div id="pos_div" style="display:none; margin-left:10px;">
                				<input type="checkbox" name="checks[]" value="gkp" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;" checked>
                				<label style="vertical-align: middle; font-size:13px">GKP</label>
                				<input type="checkbox" name="checks[]" value="def" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;" checked>
                				<label style="vertical-align: middle; font-size:13px">DEF</label>
                				<input type="checkbox" name="checks[]" value="mid" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;" checked>
                				<label style="vertical-align: middle; font-size:13px">MID</label>
                				<input type="checkbox" name="checks[]" value="fwd" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;" checked>
                				<label style="vertical-align: middle; font-size:13px">FWD</label>
            				</div>
        				</div>
        				<div id="team_check" style="border-bottom: 1px solid #A9A9A9;">
            				<div onclick="expand_filter('team_div');" style="margin:15px 10px 5px 15px; font-size: 14px;">Team<br></div>
        				</div>
                    <div style="border-bottom: 1px solid #A9A9A9;">
            				<div onclick="expand_filter('avail_div');" id="avail_check" style="margin:15px 10px 5px 15px; font-size: 14px;">Availability<br></div>
            				<div id="avail_div" style="display:none; margin-left:10px;">
                				<input type="checkbox" name="checks[]" value="avail_a" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;" checked>
                				<label style="vertical-align: middle; font-size:13px">Available</label><br>
                				<input type="checkbox" name="checks[]" value="avail_d" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;" checked>
                				<label style="vertical-align: middle; font-size:13px">Doubtful</label><br>
                				<input type="checkbox" name="checks[]" value="avail_i" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;">
                				<label style="vertical-align: middle; font-size:13px">Injured</label><br>
                				<input type="checkbox" name="checks[]" value="avail_n" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;">
                				<label style="vertical-align: middle; font-size:13px">Not Available</label><br>
            				</div>
        				</div>
                    <div>
            				<div onclick="expand_filter('diff_div');" id="diff_check" style="margin:15px 10px 5px 15px; font-size: 14px;">Difficulty<br></div>
            				<div id="diff_div" style="display:none; margin-left:10px;">
                				<input type="checkbox" name="checks[]" value="diff_veryeasy" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;" checked>
                				<label style="vertical-align: middle; font-size:13px">Very Easy</label><br>
                				<input type="checkbox" name="checks[]" value="diff_easy" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;" checked>
                				<label style="vertical-align: middle; font-size:13px">Easy</label><br>
                				<input type="checkbox" name="checks[]" value="diff_hard" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;">
                				<label style="vertical-align: middle; font-size:13px">Difficult</label><br>
                				<input type="checkbox" name="checks[]" value="diff_veryhard" style="margin-left: 15px;vertical-align: middle;margin-right: 2px;">
                				<label style="vertical-align: middle; font-size:13px">Very Difficult</label><br>
            				</div>
        				</div>
                </div>
            </div>
    
    			<div style="border-bottom: 1px solid #A9A9A9;">
    				<p onclick="expand_filter('player_base')" style="margin:10px; font-size: 14px; font-weight:bold;">+ Player Base Stats</p>
        			<div id="player_base" style="display:none; margin-left: 10px;">
        				<div style="margin:15px; font-size: 14px;">Cost</div>
        			</div>
    			</div>
    
    			<div style="border-bottom: 1px solid #A9A9A9;">
    				<p onclick="expand_filter('player_deep')" style="margin:10px; font-size: 14px; font-weight:bold;">+ Player Deep Stats</p>
        			<div id="player_deep" style="display:none; margin-left: 10px;">
        				<div style="margin:15px; font-size: 14px;">Key Passes</div>
        			</div>
    			</div>
    			<div style="border-bottom: 1px solid #A9A9A9;">
    				<p onclick="expand_filter('filter_col')" style="margin:10px; font-size: 14px; font-weight:bold;">+ Filter Columns</p>
        			<div id="filter_col" style="display:none; margin-left: 10px;">
        				<div style="margin:15px; font-size: 14px;">Points</div>
        			</div>
    			</div>
    			<div style="border-bottom: 1px solid #A9A9A9;">
    				<p onclick="expand_filter('search')" style="margin:10px; font-size: 14px; font-weight:bold;">+ Search</p>
        			<div id="search" style="display:none; margin-left: 10px;">
        				<div style="margin:15px; font-size: 14px;">Search Player</div>
        			</div>
    			</div>
                <input class="update_btn" type="submit" value="Update">
    		</form>
		</div>
		<div style="float:right; width:85%">
			<br>
			<div style="margin-left:18px; font-size: 16px;">Player List</div>
			<div style="overflow:auto">
				<table id="player_table">
					<tbody><tr style="background-color: #38003C;">
						<td style="color: #FFFFFF;">Name</td>
						<td style="color: #FFFFFF;">Team</td>
						<td style="color: #FFFFFF;">Cost</td>
						<td style="color: #FFFFFF;">Position</td>
						<td style="color: #FFFFFF;">Points</td>
						<td style="color: #FFFFFF;">Form</td>
						<td style="color: #FFFFFF;">Transfer In</td>
						<td style="color: #FFFFFF;">Transfer out</td>
						<td style="color: #FFFFFF;">Bonus</td>
						<td style="color: #FFFFFF;">Availability</td>
						<td style="color: #FFFFFF;">CleanSheet</td>
						<td style="color: #FFFFFF;">Saves</td>
						<td style="color: #FFFFFF;">Selected By</td>
						<td style="color: #FFFFFF;">Minutes</td>
					</tr>
					<tr><th>&nbsp;</th><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
				</tbody></table>
			</div>
		</div>
		
	</div>
</div>

</body>
</html>