<!DOCTYPE HTML>
<html lang="en"><head>
	<title>Fantasy Premier League - Assistant</title>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="../static/css/fplassist.css">
	<script src="../static/scripts/jquery.min.js"></script>
	<script src="../static/scripts/jquery.form.js"></script> 
	<script src="../static/scripts/filter_entries.js"></script> 
	
	<script type="text/javascript">
    	var player_data;
    	var colSort = {};

       var modal;
              
       function close_modal(){
           modal.style.display = "none";
       }
           	
		function expand_filter(filtername){
             if(document.getElementById(filtername).style.display == "block"){
                 document.getElementById(filtername).style.display = "none";
             }
             else if(document.getElementById(filtername).style.display == "none"){
                 document.getElementById(filtername).style.display = "block";
             }
         }
         

        $(document).ready(function() {
            $('#updateForm').on('submit', function (e) {
                e.preventDefault();
                var player_table = document.getElementById('player_table');
                player_table.style.display = "none";
                document.getElementById('table_spinner').style.display = "block";
                $.ajax({
                    type: 'POST',
                    url: 'update_table/',
                    data: $("#updateForm").serialize(),
                    success: function (response) {
                        player_data = response;
                        player_table.style.display = "table";
                        document.getElementById('table_spinner').style.display = "none";
                        updateSortMap(3, null);
                        sortTable(player_table.rows[0].cells[3]);
                    }
                }); 
                
                return false;               
            });
        });
        
        function getPlayerDetail(rowSelect){
            modal.style.display = "block";
            document.getElementById("detail_spinner").style.display = "block";
            document.getElementById("player_detail").style.display = "none";
            document.getElementById("pl_img").setAttribute("src", "");
            player_id = rowSelect.id.split("_")[1];
            $.ajax({
                type: 'GET',
                url: 'player_details/',
                data: {"req_player_id" : player_id},
                success: function (response) {
                    img_src = "https://platform-static-files.s3.amazonaws.com/premierleague/photos/players/110x140/p" + response["player_photo"]+ ".png"
                    document.getElementById("pl_img").setAttribute("src", img_src);
                    document.getElementById("pl_name").innerHTML = response["player_name"];
                    document.getElementById("pl_pos_team").innerHTML = response["pos_long"] + " - " + "Man - City";
                    document.getElementById("pl_news").innerHTML = response["news"];
                    
                    document.getElementById("point_ph").innerHTML = response["points"];
                    document.getElementById("cost_ph").innerHTML = response["cost"];
                    document.getElementById("mins_ph").innerHTML = response["minutes"];
                    document.getElementById("tsb_ph").innerHTML = response["tsb"];
                    document.getElementById("ppg_ph").innerHTML = response["ppg"];
                    document.getElementById("goals_ph").innerHTML = response["goals"];
                    document.getElementById("assists_ph").innerHTML = response["assists"];
                    document.getElementById("cleans_ph").innerHTML = response["cleansheet"];

                    document.getElementById("txin_ph").innerHTML = response["transfer_in"];
                    document.getElementById("txout_ph").innerHTML = response["transfer_out"];
                    document.getElementById("detail_spinner").style.display = "none";
                    document.getElementById("player_detail").style.display = "block";
                }
            });             
            
        }
        
        function printTable(inputTable, tableEle){
            var rowCount = tableEle.rows.length;
            for (var i = rowCount - 1; i > 0; i--) {
                tableEle.deleteRow(i);
            }
            
            rowCount = (player_data.length > 50)? 50 : player_data.length;
            for(var count=0; count<rowCount; count++){
                player = inputTable[count];
                var row = tableEle.insertRow(count+1);
                row.setAttribute("id", "player_"+ player[player.length-1].toString());
                row.setAttribute("onclick", "getPlayerDetail(this)");
                for(var cell_count=0; cell_count<(player.length)-1; cell_count++){
                    row.insertCell(cell_count).innerHTML = player[cell_count]
                }
            }            
        }

        
        function sortTable(cellSelect){
            var tableEle = cellSelect.parentElement.parentElement;
            var col = cellSelect.cellIndex;

            if(colSort[col.toString()] == "a"){
                if([0,1,2].includes(col)){
                    sortedTable = player_data.sort(function(a, b) {
                                                          var nameA = a[col]; // ignore upper and lowercase
                                                          var nameB = b[col]; // ignore upper and lowercase
                                                          if (nameA < nameB) {
                                                            return -1;
                                                          }
                                                          if (nameA > nameB) {
                                                            return 1;
                                                          }
                                                        
                                                          return 0;
                                                        });
                }
                else{
                    sortedTable = player_data.sort(function(a,b){return b[col]-a[col];});
                }
                
                updateSortMap(col, "d")
            }
            else if(colSort[col.toString()] == "d"){
                if([0,1,2].includes(col)){
                    sortedTable = player_data.sort(function(a, b) {
                                                          var nameA = a[col]; // ignore upper and lowercase
                                                          var nameB = b[col]; // ignore upper and lowercase
                                                          if (nameA < nameB) {
                                                            return -1;
                                                          }
                                                          if (nameA > nameB) {
                                                            return 1;
                                                          }
                                                        
                                                          return 0;
                                                        });
                    sortedTable.reverse();
                }
                else{
                    sortedTable = player_data.sort(function(a,b){return a[col]-b[col];});
                }
                updateSortMap(col, "a")
            }
            else{
                if([0,1,2].includes(col)){
                    sortedTable = player_data.sort(function(a, b) {
                                                          var nameA = a[col];
                                                          var nameB = b[col];
                                                          if (nameA < nameB) {
                                                            return -1;
                                                          }
                                                          if (nameA > nameB) {
                                                            return 1;
                                                          }
                                                        
                                                          return 0;
                                                        });
                }
                else{
                    sortedTable = player_data.sort(function(a,b){return b[col]-a[col];});
                }
                updateSortMap(col, "d")
            }
            
            printTable(sortedTable, tableEle);
        }
        
        function updateSortMap(sortKey, sortOrder){
            cellLength = document.getElementById("header_row").cells.length;
            for(var i=0; i<cellLength; i++){
                if(i!=sortKey){
                    colSort[i.toString()] = null;
                }
                else{
                    colSort[i.toString()] = sortOrder;
                }
            }
        }

        function getTableOnload() {
            $(document).ready(function() {
                modal = document.getElementById('myModal')
                $('#submit_btn').click();
            });        
        	}
	
    	if (window.addEventListener)
    		window.addEventListener("load", getTableOnload, false);
    	else if (window.attachEvent)
    		window.attachEvent("onload", getTableOnload);
    	else window.onload = getTableOnload;
    </script>
</head>

<body>
<div>
	<div class="logoheader">
    	<div onclick='expand_filter("adjustfilters")' style="float:left">
            <img src="../static/images/adjusticon.png" style="width: 30px;margin-left: 5px;">
      </div>
    	<div class="header_text">FPL Assist</div>
    </div>

	<div id="myModal" class="modal">
    	<div class="modal-content">
        	<span onclick="close_modal()" class="close">&times;</span>   
			<div id="detail_spinner" style="margin-left:50%; margin-top:100px; margin-bottom: 100px">
    			<div class="loader"></div>
			</div>
        	<div id="player_detail" style="display:none">
            	<div style="margin:35px;">
                	<div style="overflow:auto;">
                    	<img class="player_img" id="pl_img">
                    	<div style="margin-top:25px; margin-bottom:25px; margin-left:45px; float:left">
                        	<div id="pl_name" style="margin-bottom:15px; font-size:18px; font-weight:bold; letter-spacing: 1px;">Leroy Sane</div>
                        	<div id="pl_pos_team" style="margin-bottom:5px; font-size:14px; letter-spacing: 2px;">Midfielder - Man City</div>
                        	<div id="pl_news" style="margin-bottom:10px;font-size:14px;letter-spacing: 2px;">Match Fit!</div>
                     </div>
                  </div>            	
            	</div>
    
            	<hr>
    
            	<div style="margin:35px; overflow:auto">
                	
                	<div>
                    	<div style="font-size:21px; width:100%; margin-bottom:25px">Player Base Stats</div>
               	</div>
               	<div class="group" style="width:100%">
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">Points</p>
                        	<div id="point_ph" style="font-weight:bold; font-size:24px">59</div>
                    </div>
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">Cost</p>
                        	<div id="cost_ph" style="font-weight:bold; font-size:24px">12.7</div>
                    </div>
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">Minutes</p>
                        	<div id="mins_ph" style="font-weight:bold; font-size:24px">630</div>
                    </div>
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">TSB %</p>
                        	<div id="tsb_ph" style="font-weight:bold; font-size:24px">48.6</div>
                    </div>
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">PPG</p>
                        	<div id="ppg_ph" style="font-weight:bold; font-size:24px">8.3</div>
                    </div>
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">Goals</p>
                        	<div id="goals_ph" style="font-weight:bold; font-size:24px">7</div>
                    </div>
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">Assists</p>
                        	<div id="assists_ph" style="font-weight:bold; font-size:24px">3</div>
                    </div>
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">Cleans</p>
                        	<div id="cleans_ph" style="font-weight:bold; font-size:24px">4</div>
                    </div>
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">Transfer In</p>
                        	<div id="txin_ph" style="font-weight:bold; font-size:24px">129504</div>
                    </div>
                    	<div style="float:left; width:140px;">
                        	<p style="font-size:14px; margin-bottom:10px">Transfer Out</p>
                        	<div id="txout_ph" style="font-weight:bold; font-size:24px">12230</div>
                    </div>
               	</div>
            	</div>
        	</div>
        </div>
    </div>
    
	<div style="display:flex; height:100%">
		<div id="adjustfilters" class="filterlist" style="display:none">
			<br>
			<div>
			   <p style="margin-left:10px; font-size: 16px;">Adjust your search criteria: </p>
			</div>
			<br>
			<form id="updateForm">
    			{% csrf_token %}
    			
            <div class="filter_border">
                <p onclick="expand_filter('player_info');" class="filterheader">+ Player Info</p>
                
                {% if player_info %}
                <div id="player_info" style="display:none;" class="filtercategories">
                {% for item in player_info %}
                    <div id="{{ item.0 }}" class=filterborder>
                        <div onclick="expand_filter('{{ item.1 }}');" class="filterentry">{{ item.2 }}<br></div>
                        {% if item.3 %}
                        <div id="{{item.1}}" style="display: none; margin-left: 10px;">
                        {% for sub_item in item.3 %}
                            <input name={{item.4}} value="{{sub_item}}" style="margin-left: 15px; margin-right: 5px;" type="checkbox" checked>
                            <label style="font-size: 13px; vertical-align: middle;">{{sub_item}}</label>
                            <br>
                        {% endfor%}    
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="filter_border">
                <p onclick="expand_filter('player_base')" class="filterheader">+ Player Base Stats</p>
                
                {% if player_base_stat %}
                <div id="player_base" style="display:none;" class="filtercategories">
                {% for item in player_base_stat %}
                    <div id="{{ item.0 }}" class="filterborder">
                        <div onclick="expand_filter('{{ item.1 }}');" class="filterentry">{{ item.2 }}<br></div>
                        {% if item.3 %}
                        <div id="{{item.1}}" style="display: none; margin-left: 10px; margin-bottom: 5px;">
                            <input name="{{item.3.0}}_min" value="{{item.3.1}}" min="{{item.3.1}}" max="{{item.3.2}}" step="{{item.3.3}}" style="margin-left: 15px; margin-right: 15px; text-align: right; width: 70px;" type="number">
                            <input name="{{item.3.0}}_max" value="{{item.3.2}}" min="{{item.3.1}}" max="{{item.3.2}}" step="{{item.3.3}}" style="margin-left: 15px; margin-right: 15px; text-align: right; width: 70px;" type="number">
                            <br>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                {% endif %}
            </div>
            
            <div class="filter_border">
                <p onclick="expand_filter('player_deep')" class="filterheader">+ Player Deep Stats</p>
                
                {% if player_deep_stat %}
                <div id="player_deep" style="display:none;" class="filtercategories">
                {% for item in player_deep_stat %}
                    <div id="{{ item.0 }}" class="filterborder">
                        <div onclick="expand_filter('{{ item.1 }}');" class="filterentry">{{ item.2 }}<br></div>
                        {% if item.3 %}
                        <div id="{{item.1}}" style="display: none; margin-left: 10px; margin-bottom: 5px;">
                            <input name="{{item.3.0}}_min" value="{{item.3.1}}" min="{{item.3.1}}" max="{{item.3.2}}" step="{{item.3.3}}" style="margin-left: 15px; margin-right: 15px; text-align: right; width: 70px;" type="number">
                            <input name="{{item.3.0}}_max" value="{{item.3.2}}" min="{{item.3.1}}" max="{{item.3.2}}" step="{{item.3.3}}" style="margin-left: 15px; margin-right: 15px; text-align: right; width: 70px;" type="number">
                            <br>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
                {% endif %}
            </div>
            <input id="submit_btn" class="update_btn" type="submit" value="Update">
    		</form>
		</div>
		<div style="float:right; width:-moz-available; width:-moz-available; width:-webkit-fill-available; height:auto ">
			<div style="overflow:auto">
    			<div id="table_spinner" style="margin-left:45%; margin-top:5%;">
        			<div class="loader"></div>
    			</div>
				<table id="player_table">
					<tbody><tr id="header_row" style="background-color: #38003C;">
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:10%;">Name</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">Position</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:7%;">Team</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">Points</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">Cost</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:6%;">Transfer In</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:6%;">Transfer out</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">Form</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">Minutes</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:7%;">Selected By</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">PPG</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">Goals</th>
						<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">Assists</th>
    					<th onclick="sortTable(this)" style="color: #FFFFFF; width:6%;">Clean Sheet</th>
    					<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">Saves</th>
    					<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">BPS</th>
    					<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">ICT</th>
    					<th onclick="sortTable(this)" style="color: #FFFFFF; width:5%;">Fouls</th>
					</tr>
				</tbody></table>
			</div>
		</div>
		
	</div>
</div>

</body>
</html>
