<!DOCTYPE HTML>
<html lang="en"><head>
	<title>Path Finder</title>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="../static/css/pathfinder.css">
	
    <script src="../static/scripts/pfloader.js"></script>
</head>

<body>
<div class="main" id="main-container">
	<div id = "header-container" style="overflow:auto; background-color: #38003c  ;">
    	<div id="header" class="header">Path Finder</div>
    </div>
    <div id="gap-container" style="height:20px; background-color: #FFFFFF;"></div>
    <div style="height:750px" id="table-container">
        <table border=0 id="draw_table"></table>
    </div>
</div>

<div id="entryModal" class="modal">
    <div class="modal-content">
        <div style="text-align:center; margin-bottom:2%">Enter the matrix</div>
        <div>
            <div style="text-align:center; margin-bottom:2%">
                <input id="value_x" type="number" name="x_axis" value="20" min="1" max="99" style="text-align: center;" onchange="check_input();">
                 x 
                <input type="number"  id="value_y" name="y_axis" value="30" min="1" max="99" style="text-align: center;" onchange="check_input();"><br>
            </div>
            <div style="text-align:center; margin-bottom:2%">
                <button onclick="generate_table()" id="get_axes">Begin</button>
            </div>
        </div>
    </div>    
</div>

</body></html>