<!DOCTYPE HTML>
<html lang="en"><head>
	<title>Path Finder</title>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="../static/css/pathfinder.css">
	
	 <script type="text/javascript">
    	 function generate_table(){
        	 var x = parseInt(document.getElementById('value_x').value);
        	 var y = parseInt(document.getElementById('value_y').value);
        	 
        	 if(x==0||y==0){
        	 window.alert("Enter values greater than 0!!");
        	 location.reload(); 
        	 }
	     	 var modal = document.getElementById('entryModal')
        	 modal.style.display = 'none';

	     	 var main = document.getElementById('main-container')
        	 main.style.display = 'block';
        	 
        	 var table = document.getElementById('draw_table');
        	 for(var i=0; i<x; i++){
            	 var row = table.insertRow(i);
            	 for(var j=0; j<y; j++){
                	 row.insertCell(j).innerHTML = ""
            	 }
        	 }
    	 }
    	 
    	 function dummy(){
    	 var modal = document.getElementById('entryModal')
    	 modal.style.display = 'block';
    	 }
    	 	
    	if (window.addEventListener)
    		window.addEventListener("load", dummy, false);
    	else if (window.attachEvent)
    		window.attachEvent("onload", dummy);
    	else window.onload = dummy;
    </script>
</head>

<body>
<div class="main" id="main-container">
	<div id = "header-container" style="overflow:auto; background-color: #38003c  ;">
    	<div id="header" class="header">Path Finder</div>
    </div>
    <div id="gap-container" style="height:20px; background-color: #FFFFFF;"></div>
    <div style="height:750px" id="table-container">
        <table border=0 id="draw_table"></table>
    </div>
</div>

<div id="entryModal" class="modal">
    <div class="modal-content">
        <div style="text-align:center; margin-bottom:2%">Enter the matrix</div>
        <div>
            <div style="text-align:center; margin-bottom:2%">
                <input id="value_x" type="text" name="x_axis" value="0"> x <input type="text"  id="value_y" name="y_axis" value="0"><br>
            </div>
            <div style="text-align:center; margin-bottom:2%">
                <button onclick="generate_table()" id="get_axes">Begin</button>
            </div>
        </div>
    </div>    
</div>

</body></html>